#container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  float: left;
}

#calendarRow {
  display: flex;
  text-align: center;
  justify-content: center;
}

#dates {
  width: 200px;
  height: 200px;
  border: #000000 1px solid;
}

#header {
  width: 200px;
  height: 50px;
  border: #000000 1px solid;
}

#month {
  text-align: center;
  font-size: 25px;
  padding: 15px;
}

#topRow {
  display: flex;
  text-align: center;
  justify-content: center;
}

#arrows {
  width: 30px;
}

#eventBox {
  float: left;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

#app {
  max-width: 250px;
}

#appointments {
  border: #000000 1px solid;
  max-width: 250px;
}

#options {
}
